<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUNABACO診断所</title>
    <link rel="icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="../static/css/checker.css">
    <script src="../static/JS/jquery-3.2.1.min.js"></script>
</head>
<body>
    
    <span>名前</span><input type="text" name="name" required>
    <p>--気になる診断を選択してください--</p>
    <input type="submit" value="診断１" name="1">
    <input type="submit" value="診断２" name="2">
    <input type="submit" value="診断３" name="3">
    <br>
    <input type="submit" value="スタート！">

    <script src="../static/JS/checker.js"></script>
</body>
</html>