<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUNABACO診断所</title>
    <link rel="icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="../static/css/home.css">
    <script src="../static/JS/jquery-3.2.1.min.js"></script>
</head>
<body>
    <h1>hello world</h1>
    <script src="../static/JS/home.js"></script>
</body>
</html>