<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUNABACO診断所</title>
    <link rel="icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="../static/css/home.css">
    <script src="../static/JS/jquery-3.2.1.min.js"></script>
</head>
<body>
    <h1>SUNABACO診断所</h1>
    <div class="host">
        <p>--代表者が入力してください--</p>
        <form method="POST" action="/home" name="make">
        <span>人数</span><input type="number" name="capacity" placeholder="1~4" min="1" max="4" required><span>人</span>
        <br>
        <span>ルーム名<input type="text" name="roomname" placeholder="半角英数最大8字" maxlength="8" required></span>
        <br>
        <span>パスコード<input type="number" name="pass" maxlength="4" placeholder="数字4桁 * * * * " required></span>
        <br>
        <input type="submit" value="ルームを作成" name="build">
        </form>
    </div>

    <script src="../static/JS/home.js"></script>
</body>
</html>