<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUNABACO診断所</title>
    <link rel="icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="../static/css/select.css">
    <script src="../static/JS/jquery-3.2.1.min.js"></script>
</head>
<body>
    <h1>SUNABACO診断所</h1>
    <div class="join">
        <form method="POST" action="/join" name="passcheck">
        <p>--入室したいルームの名前を押してください--</p>
        <table border="1" id="list">
            <tr>
                <td>ルーム名</td>
                <td>定員数</td>
                <td>参加人数</td>
            </tr>
            {% for item in html_info %}    
            <tr>
                <td><input id="click" type="submit" value="{{item['name']}}" style="width: 100%;"></td>
                <td>{{item["capacity"]}}</td>
                <td>{{item["users"]}}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="send">
        <br>
        <span style="border: #000 1px solid; display: inline-block;">パスコード入力→</span>
        <input type="number" placeholder="数字4桁 * * * * " required  maxlength="4" min="0000" max="9999">
        <input type="submit" value="ルームに参加" id="enter">
        </div>
    </form>
    </div>
    
    <script src="../static/JS/select.js"></script>
</body>
</html>