<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUNABACO診断所</title>
    <link rel="icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="../static/css/start.css">
    <script src="../static/JS/jquery-3.2.1.min.js"></script>
</head>
<body>
    <h1>SUNABACO診断所</h1>
    <div id="selection">
        <p>--どちらかを選択してください--</p>
        <form action="/" method="post" name="select">
            <input type="submit" value="ルーム作成者" name="host">
            <input type="submit" value="ルーム参加者" name="join">
        </form>
    </div>
    <script src="../static/JS/start.js"></script>
</body>
</html>